<h1>Listing grids</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @grids.each do |grid| %>
  <tr>
    <td><%= grid.name %></td>
    <td><%= link_to 'Show', grid %></td>
    <td><%= link_to 'Edit', edit_grid_path(grid) %></td>
    <td><%= link_to 'Destroy', grid, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Grid', new_grid_path %>
