<%= javascript_include_tag "form" %>

<%= form_for(@user, :html => {:class => "validation"}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this host from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="section">
  <label> Login  Account  <small>Text custom</small></label>
  <div>
  <%= f.text_field :username, :class => "validate[required,minSize[3],maxSize[20]] medium" %>
  <label>Username</label>
  <span class="f_help"> Username login or register. <br />Should be between 3 and not more than 20 characters.</span> 
  </div>
  <div>
  <%= f.password_field :password, :class => "validate[required,minSize[3]] medium" %>
  <label>Password</label>
  </div>
  <div>
  <%= f.password_field :password_confirmation, :class => "validate[required,equals[user_password]] medium" %>
  <label>Confirm Password</label>
  <span class="f_help"> Your password should be at least 6 characters.</span>
  </div>
  </div>
  
<!--   <div class="section">
  <label> URL validate<small>Text custom</small></label>   
  <div> 
  <input type="text" class="validate[required,custom[url]] large" name="url_required" id="url_required" value="http://">
  </div>
  </div> -->
  <div class="section last">
  <div>
    <%= f.submit :class => "uibutton submit_form" %>
  </div>
  </div>

  <div class="actions">
  </div>

<% end %>